extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.name
		.case
			.name__wrap

	.desc
		.case
			.desc__text Лучший уровень заботы о домашнем любимце: ухаживайте за питомцем, обучайтесь, делайте покупки


	.directions
		.case
			.directions__list
				.directions__item
					.directions__item-info
						.directions__item-name
							.directions__item-title
							.directions__item-name-label
						.directions__item-text
						a.directions__item-btn.btn.--secondary.--md(href="")
					.directions__item-img
						img(src="" alt="")

				.directions__item
					.directions__item-info
						.directions__item-name
							.directions__item-title
							.directions__item-name-label
						.directions__item-text
						.directions__item-text
					a.directions__item-btn.btn.--primary.--md(href="")
						img(src="" alt="")

	.we
		.case
			.we__wrap
				.we__title
				.we__content
					.we__text
					.we__btn.--outline-primary

	.shares
		.case
			.shares__slider.swiper
				.shares__slider-wrap.swiper-wrapper
					.shares__slider-item.shares__item.swiper-slide
						img(src="")
			.shares__controls
				.shares__control
					img(src="" alt="")
				.shares__control
					img(src="" alt="")

	.pros
		.case
			.pros__list
				.pros__item
					img(src="" alt="")

	.gallery
		.case
			.gallery__head
				.gallery__title.h2
				.gallery__controls
					.gallery__control
						img(src="" alt="")
					.gallery__control
						img(src="" alt="")
			.gallery__body
				.gallery__slider.swiper
					.gallery__slider-wrap.swiper-wrapper
						.gallery__slider-item.gallery__item.swiper-slide
							img(src="" alt="")

				.gallery__thumbs.dots


	.shop
		.case
			.shop__head
				.shop__title.h2
				.shop__desc
			.shop__body
				.shop__list
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
					.shop__item
						.shop__item-title
						.shop__item-img
							img(src="" alt="")
			.shop__foot 
				.shop__btn.btn.--secondary.--sm

	.hotel
		.case
			.hotel__inner
				.hotel__content
					.hotel__title.h2
					.hotel__text
					.hotel__props 
						.hotel__prop
							.hotel__prop-icon
								img(src="" alt="")
							.hotel__prop-title
						.hotel__prop
							.hotel__prop-icon
								img(src="" alt="")
							.hotel__prop-title
						.hotel__prop
							.hotel__prop-icon
								img(src="" alt="")
							.hotel__prop-title
						.hotel__prop
							.hotel__prop-icon
								img(src="" alt="")
							.hotel__prop-title
						.hotel__prop
							.hotel__prop-icon
								img(src="" alt="")
							.hotel__prop-title
						.hotel__prop
							.hotel__prop-icon
								img(src="" alt="")
							.hotel__prop-title
					.hotel__btn.btn.--primary.--md
				.hotel__imgs
					.hotel__img-decoration
						img(src="" alt="")
					.hotel__img-pets
						img(src="" alt="")

	.economy
		.case
			.economy__head
				.economy__title.h2 
			.economy__body
				.economy__list 
					.economy__item.disc-first
						.disc-first__title
							.disc-first__outline
								img(src="", alt="")
						.disc-first__org
						.disc-first__img
							img(src="", alt="")
						.disc-first__desc

					.economy__item.disc-puppy
						.disc-puppy__title
							.disc-puppy__title-outline
								img(src="", alt="")
						.disc-puppy__dog
							.disc-puppy__dog-img
								img(src="", alt="")
							.disc-puppy__dog-decor
								img(src="", alt="")
							.disc-puppy__dog-decor
								img(src="", alt="")
						.disc-puppy__decorations
							.disc-puppy__decoration
								img(src="", alt="")
							.disc-puppy__decoration
								img(src="", alt="")


	.faq
		.case
			.faq__title.h2 #[strong ]
			.faq__list
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body
				.faq__item
					.faq__head
						.faq__count
						.faq__text
						.faq__toggle
					.faq__body

	.ca
		.case
			.ca__wrap
				.ca__content
					.ca__title.h2 #[strong ]
					.ca__text
					.ca__address
						p
						p #[strong ]
						p #[strong ]

				.ca__form
					.ca__field.field.--primary.--md
						.field__title
						input.field__area(type="text")
					.ca__field.field.--primary.--md.--phone
						.field__title
						input.field__area(type="tel")
					button.ca__btn.btn.--secondary.--md
					.ca__policy.check
						input.check__input(type="checkbox")
						.check__box
							img(src="", alt="")
						.check__text #[a(href="") ]

	.reviews
		.case
			.reviews__head
				.reviews__title.h2 #[strong ]
				.reviews__controls 
					.reviews__control
						img(src="", alt="")
					.reviews__control
						img(src="", alt="")
			.reviews__body
				.reviews__slider.swiper
					.reviews__list.swiper-wrapper
						.reviews__item.swiper-slide
							.reviews__img
								img(src="", alt="")
							.reviews__content
								.reviews__text
								.reviews__name
								.reviews__desc
						.reviews__item.swiper-slide
							.reviews__img
								img(src="", alt="")
							.reviews__content
								.reviews__text
								.reviews__name
								.reviews__desc
						.reviews__item.swiper-slide
							.reviews__img
								img(src="", alt="")
							.reviews__content
								.reviews__text
								.reviews__name
								.reviews__desc
				.reviews__more #[a(href="") ]

	.contacts
		.case
			.contacts__title.h2

		.contacts__addresses
			.case
				.contacts__addresses-list
					.contacts__address
						.contacts__address-title
						.contacts__address-value
					.contacts__address
						.contacts__address-title
						.contacts__address-value

		.contacts__map
				

	.page404
		.case
			.page404__title
				p
				img(src="", alt="")
				p
			.page404__desc
			.page404__btn.btn.--primary.--md


	.groom
		.groom__item.gr-care
			.gr-care__title
				img(src="", alt="")
				p
				img(src="", alt="")
				p
				img(src="", alt="")
				p
		.groom__item.gr-salon
			.gr-salon__title
			.gr-salon__list
				.gr-salon__item #[var  ]
				.gr-salon__item #[var  ]
				.gr-salon__item #[var  ] #[i ]
		.groom__item.gr-shop
			.gr-shop__title
			.gr-shop__tags
				.gr-shop__tag.--pink
				.gr-shop__tag.--outline
				.gr-shop__tag.--white
				.gr-shop__tag.--pink

				.gr-shop__tag.--white
				.gr-shop__tag.--outline
				.gr-shop__tag.--white

				.gr-shop__tag.--outline
				.gr-shop__tag.--pink

			.gr-shop__address

		.groom__item.gr-logo
			.gr-logo__title
			.gr-logo__img
				img(src="", alt="")

		.groom__item.gr-hotel
			.gr-hotel__title
			.gr-hotel__desc
			.gr-hotel__img
				img(src="", alt="")

		.groom__item.gr-services
			.gr-services__title
			.gr-services__tags
				.gr-services__tag
				.gr-services__tag
				.gr-services__tag
			.gr-services__img
				img(src="", alt="")
		
	.about
		.case
			.about__title.h2

		.about__wrap
			.about__img
				img(src="", alt="")
			.about__content
				.about__label
				.about__tags
					.about__tag
					.about__tag
					.about__tag
				.about__title #[strong ]

	.photos
		.photos__list
			.photos__item
				img(src="", alt="")
			.photos__item
				img(src="", alt="")
			.photos__item
				img(src="", alt="")
			.photos__item
				img(src="", alt="")
			.photos__item
				img(src="", alt="")
			.photos__item
				img(src="", alt="")
		.case
				.photos__more.btn.--primary-outline.--md

	.after
		.case
			.after__title.h2 #[strong ]
			.after__list
				.after__item
					.after__item-title
					.after__item-img 
						img(src="", alt="")
				.after__item
					.after__item-title
					.after__item-img 
						img(src="", alt="")
				.after__item
					.after__item-title
					.after__item-img 
						img(src="", alt="")
				.after__item
					.after__item-title
					.after__item-img 
						img(src="", alt="")
				.after__item
					.after__item-title
					.after__item-img 
						img(src="", alt="")
				.after__item
					.after__item-title
					.after__item-img 
						img(src="", alt="")
			.after__more.btn.--primary-outline.--md

	.team
		.case
			.team__tags
				.team__tag

			.team__title.h2 #[strong ]
			.team__row
				.team__employee.employee
					.employee__head
						.employee__img
							img(src="", alt="")
						.employee__desc
					.employee__body
						.employee__name
						.employee__text
						.employee__tags
							.employee__tag
							.employee__tag
						.employee__pet
							img(src="", alt="")
							p
				.team__employee.employee
					.employee__head
						.employee__img
							img(src="", alt="")
						.employee__desc
					.employee__body
						.employee__name
						.employee__text
						.employee__tags
							.employee__tag
							.employee__tag
						.employee__pet
							img(src="", alt="")
							p

				.team__text
					h3
					p

			.team__row
				.team__text
					h3
					p
				.team__employee.employee
					.employee__head
						.employee__img
							img(src="", alt="")
						.employee__desc
					.employee__body
						.employee__name
						.employee__text
						.employee__tags
							.employee__tag
							.employee__tag
						.employee__pet
							img(src="", alt="")
							p
				.team__employee.employee
					.employee__head
						.employee__img
							img(src="", alt="")
						.employee__desc
					.employee__body
						.employee__name
						.employee__text
						.employee__tags
							.employee__tag
							.employee__tag
						.employee__pet
							img(src="", alt="")
							p

			.team__row
				.team__employee.employee
					.employee__head
						.employee__img
							img(src="", alt="")
						.employee__desc
					.employee__body
						.employee__name
						.employee__text
						.employee__tags
							.employee__tag
							.employee__tag
						.employee__pet
							img(src="", alt="")
							p
				.team__text
					h3
					p
				.team__join
					.team__join-title
					.team__join-btn.btn.--primary.--md
					.team__join-img
						img(src="", alt="")
	.services
		.case
			.services__tag
			.services__title.h2 #[strong ]
			.services__list
				.services__item.--violet.--left
					.services__name
					.services__more
					.services__img
						img(src="", alt="")
					.services__modal.modal.--fullscreen#modal-service-0
						.modal__inner
							.modal__content
								.service
									.service__head
										.service__title #[span ]
										.service__img
											img(src="", alt="")
									.service__body
										.service__text
										.service__pricelist
											.pricelist__title
											.pricelist__list
												.pricelist__item
													.pricelist__head
														.pricelist__title
														.pricelist__toggle
															img(src="", alt="")
														.pricelist__value
													.pricelist__body
														.pricelist__text
														.pricelist__img
															img(src="", alt="")
						.modal__overlay

				.services__item.--orange.--left
					.services__name
					.services__more
					.services__img
						img(src="", alt="")
				.services__item.--sky.--left
					.services__name
					.services__more
					.services__img
						img(src="", alt="")
				.services__item.--sand.--right
					.services__name
					.services__more
					.services__img
						img(src="", alt="")
				.services__item.--blue.--right
					.services__name
					.services__more
					.services__img
						img(src="", alt="")
						

	.certs
		.case
			.certs__title #[strong ]
			.certs__list
				.certs__item.--pearch
					.certs__icon
						img(src="", alt="")
					.certs__img
						img(src="", alt="")
					.certs__inner
						.certs__tag
						.certs__text
							p
				.certs__symbol
				.certs__item.--pink
					.certs__icon
						img(src="", alt="")
					.certs__img
						img(src="", alt="")
					.certs__inner
						.certs__tag
						.certs__text
							p
				.certs__symbol
				.certs__item.--sand
					.certs__icon
						img(src="", alt="")
					.certs__img
						img(src="", alt="")
					.certs__inner
						.certs__tag
						.certs__text
							p

	.ozone
		.case
			.ozone__title.h2 #[h2 ]
			.ozone__wrap
				.ozone__img
					img(src="", alt="")
				.ozone__content
					.ozone__logo
						img(src="", alt="")
					.ozone__text
					a.ozone__btn.btn.--primary.--md
				.ozone__img
					img(src="", alt="")

	.ambassador
		.ambassador__img
			img(src="", alt="")
		.ambassador__content
			 .ambassador__tag
			.ambassador__text
			    p
				p #[i ]

	.service
		.case
			.service__title #[strong ]
			.service__desc
			.service__list
				.service__item
					.service__img
						img(src="", alt="")	
					.service__content
						.service__tag
						.service__text
							p
							p #[i ]
				.service__item
					.service__img
						img(src="", alt="")	
					.service__content
						.service__tag
						.service__text
							p
						.service__desc
							
	.academy
		.academy__item.ac-book
			.ac-book__decor
				img(src="", alt="")
			.ac-book__decor
				img(src="", alt="")
			.ac-book__img
				img(src="", alt="")
			.ac-book__title
		.academy__item.ac-info
			.ac-info__title
			.ac-info__desc
			.acc-info__list
				.acc-info__item #[var  ]
				.acc-info__item #[var  ]
				.acc-info__item #[var  ] #[i ]
		.academy__item.ac-courses
			.ac-courses__title
			.ac-courses__desc
			.ac-courses__imgs
				.ac-courses__img
					img(src="", alt="")
				.ac-courses__img
					img(src="", alt="")
				.ac-courses__img
					img(src="", alt="")

		.academy__item.ac-pay
			.ac-pay__desc
			.ac-pay__title
			.ac-pay__banks
			.ac-pay__img
				img(src="", alt="")
		.academy__item.ac-mc
			.ac-mc__title
			.ac-mc__img
				img(src="", alt="")

	.courses
		.case
			.courses__head
				.courses__title.h2 #[strong ]
				.courses__text
			.courses__body
				.courses__list
					a.courses__item.--pink(href="")
						.courses__more
							img(src="", alt="")
						.courses__name
						.courses__img
							img(src="", alt="")
					a.courses__item.--sky(href="")
						.courses__more
							img(src="", alt="")
						.courses__name
						.courses__img
							img(src="", alt="")

	.courses-shares
		.case
			.courses-shares__title.h2 #[strong ]
			.courses-shares__subtitle
			.courses-shares__wrap
				.courses-shares__slider.swiper
					.courses-shares__slider-list.swiper-wrapper
						.courses-shares__slider-item.co-share.swiper-slide
							.co-share__label
							.co-share__title
							.co-share__list
								.co-share__item
									.co-share__text
										ul
											li
											li
											li
									.co-share__prices
										.co-share__price.co-share-price
											.co-share-price__label
											.co-share-price__new
											.co-share-price__old
										.co-share__price.co-share-price
											.co-share-price__label
											.co-share-price__new
											.co-share-price__old
								.co-share__item
									.co-share__text
										ul
											li
											li
											li
									.co-share__prices
										.co-share__price.co-share-price
											.co-share-price__label
											.co-share-price__new
											.co-share-price__old
										.co-share__price.co-share-price
											.co-share-price__label
											.co-share-price__new
											.co-share-price__old
								.co-share__item
									.co-share__text
										ul
											li
											li
											li
									.co-share__prices
										.co-share__price.co-share-price
											.co-share-price__label
											.co-share-price__new
											.co-share-price__old
										.co-share__price.co-share-price
											.co-share-price__label
											.co-share-price__new
											.co-share-price__old
								
							.co-share__text.co-share__desc
								ul
									li #[strong ]
									li
									li
									li
				.courses-shares__controls
					.courses-shares__control.control.--prev
					.courses-shares__control.control.--next

			.courses-shares__btns
				.courses-shares__btn.btn.--secondary.--md #[span ] #[img(src="" alt="")]
				.courses-shares__btn.btn.--primary.--md #[span ] #[img(src="" alt="")]

	.academy-info
		.case
			.academy-info__head
				.academy-info__title.h2 #[strong ] 
				.academy-info__controls
					.academy-info__control.control.--prev
						img(src="", alt="")
					.academy-info__control.control.--next
						img(src="", alt="")
				.academy-info__body
					.academy-info__slider.swiper
						.academy-info__slider-list.swiper-wrapper
							.academy-info__slider-item.swiper-slide
								img(src="", alt="")
							.academy-info__slider-item.swiper-slide
								img(src="", alt="")
							.academy-info__slider-item.swiper-slide
								img(src="", alt="")
							.academy-info__slider-item.swiper-slide
								img(src="", alt="")
							.academy-info__slider-item.swiper-slide
								img(src="", alt="")
					.academy-info__texts
						.academy-info__text
							p
						.academy-info__text
							p

	.why-edu
		.case
			.why-edu__wrap
				.why-edu__left
					.why-edu__title
					.why-edu__controls
						.why-edu__control.control.--prev
							img(src="", alt="")
						.why-edu__control.control.--next
							img(src="", alt="")
				.why-edu__right
					.why-edu__slider.swiper
						.why-edu__list.swiper-wrapper
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p
							.why-edu__item.swiper-slide
								.why-edu__img
									img(src="", alt="")
								.why-edu__content
									.why-edu__name
									.why-edu__text
										p

	.teachers
		.case
			.teachers__head
				.teachers__title #[strong ]
				.teachers__text
					p
			.teachers__body
				.teachers__list
					.teachers__item.teacher
						.teacher__img
							img(src="", alt="")
						.teacher__content
							.teacher__name
							.teacher__text
								p
							.teacher__btn.btn.--secondary.--md #[span ] #[img(src="", alt="")]

					.teachers__item.teacher
						.teacher__img
							img(src="", alt="")
						.teacher__content
							.teacher__name
							.teacher__text
								p
							.teacher__btn.btn.--secondary.--md #[span ] #[img(src="", alt="")]

					.teachers__item.teacher
						.teacher__img
							img(src="", alt="")
						.teacher__content
							.teacher__name
							.teacher__text
								p
							.teacher__btn.btn.--secondary.--md #[span ] #[img(src="", alt="")]

	.installment
		.case
			.installment__title.h2 #[strong ]
			.installment__wrap
				.installment__content
					.installment__text
						h3
						p
					.installment__btn.btn.--primary.--md #[span ] #[img(src="", alt="")]

				.installment__banks
					.installment__logos
						.installment__logo
							img(src="", alt="")
						.installment__logo
							img(src="", alt="")
						.installment__logo
							img(src="", alt="")
						.installment__logo
							img(src="", alt="")
						.installment__logo
							img(src="", alt="")
						.installment__logo
							img(src="", alt="")
					.installment__desc


	.offers
		.case
			.offers__title
			.offers__list
				.offers__item.offer
					.offer__wrap
						.offer__img
							img(src="", alt="")
						.offer__content
							.offer__title
							.offer__price
								.offer__price-old
								.offer__price-current
							.offer__text
								h3
								ul
									li
									li
									li
									li
							.offer__tags
								.offer__tag
								.offer__tag
					.offer__btn.btn.--primary-outline.--md
				.offers__item.offer
					.offer__wrap
						.offer__img
							img(src="", alt="")
						.offer__content
							.offer__title
							.offer__price
								.offer__price-current
							.offer__text
								h3
								ul
									li
									li
							.offer__tags
								.offer__tag
								.offer__tag
					.offer__btn.btn.--primary.--md

	.bp
		.case
			.bp__wrap
				.bp__content
					.bp__title
					.bp__text
					.bp__btn.btn.--primary.--md
				.bp__imgs
					.bp__img
						img(src="", alt="")
					.bp__decoration
						img(src="", alt="")

	.accommodation
		.case
			.accommodation__head
				.accommodation__title.h2 #[strong ]
				.accommodation__text
					p
			.accommodation__body
				.accommodation__list
					.accommodation__item.apartment
						.apartment__img
							img(src="", alt="")
						.apartment__content
							.apartment__head
								.apartment__title
								.apartment__toggle
									img(src="", alt="")
							.apartment__body
								.apartment__text
									p
								.apartment__data
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="")]
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="tel:")]
					.accommodation__item.apartment
						.apartment__img
							img(src="", alt="")
						.apartment__content
							.apartment__head
								.apartment__title
								.apartment__toggle
									img(src="", alt="")
							.apartment__body
								.apartment__text
									p
								.apartment__data
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="")]
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="tel:")]
					.accommodation__item.apartment
						.apartment__img
							img(src="", alt="")
						.apartment__content
							.apartment__head
								.apartment__title
								.apartment__toggle
									img(src="", alt="")
							.apartment__body
								.apartment__text
									p
								.apartment__data
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="")]
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="tel:")]
					.accommodation__item.apartment
						.apartment__img
							img(src="", alt="")
						.apartment__content
							.apartment__head
								.apartment__title
								.apartment__toggle
									img(src="", alt="")
							.apartment__body
								.apartment__text
									p
								.apartment__data
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="")]
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="tel:")]
					.accommodation__item.apartment
						.apartment__img
							img(src="", alt="")
						.apartment__content
							.apartment__head
								.apartment__title
								.apartment__toggle
									img(src="", alt="")
							.apartment__body
								.apartment__text
									p
								.apartment__data
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="")]
									.apartment__data-item
										.apartment__data-key
										.apartment__data-value #[a(href="tel:")]

	.docs
		.case
			.docs__title.h2
			.docs__list
				.docs__text
					p
				.docs__item
					.docs__item-icon
						img(src="", alt="")
					.docs__item-text
					.docs__item-btn.--primary
				.docs__item
					.docs__item-icon
						img(src="", alt="")
					.docs__item-text
					.docs__item-btn.--secondary
				.docs__item
					.docs__item-icon
						img(src="", alt="")
					.docs__item-text
					.docs__item-btn.--primary
				.docs__item
					.docs__item-icon
						img(src="", alt="")
					.docs__item-text
					.docs__item-btn.--secondary

		.docs__main-title


	.booking
		.case
			.booking__title.h2 #[strong ]
			.booking__list
				.booking__item
					.booking__card
						.booking__img
							img(src="", alt="")
						.booking__title
					.booking__subtitle
					.booking__btn.btn.--secondary.--md
				.booking__item
					.booking__card
						.booking__img
							img(src="", alt="")
						.booking__title
					.booking__subtitle
					.booking__socials

	.org
		.case
			.org__title #[h1]
			.org__text
				h2
				p
				h2
				p
				blockquote
					h2
					ul
						li #[a(href="")]
						li #[a(href="")]
						li #[a(href="")]
						li #[a(href="")]
						li #[a(href="")]
						li #[a(href="")]
						li #[a(href="")]
						li #[a(href="")]
				blockquote
					h2
					ul
						li #[a(href="")]
						li #[a(href="")]
				h2
				p
				h2
				p
				ul
					li
					li
					li
					li
					li
					li
					li
					li
					li
					li
					li
					li
					li
					li
				h2
				p
				h2
				p
				h2
				p
				h2
				p
				h2
				p

	.rules
		.rules__title #[h1 ]
		.rules__text
			h2
			p
		.rules__socials
			.rules__socials-title
			.rules__socials-list
				.rules__socials-item
					.rules__socials-key
					.rules__socials-value
						a.rules__socials-link(href="" target="_blank")
							img(src="", alt="")
						a.rules__socials-link(href="" target="_blank")
							img(src="", alt="")
				.rules__socials-item
					.rules__socials-key
					.rules__socials-value
						a.rules__socials-link(href="" target="_blank")
							img(src="", alt="")
						a.rules__socials-link(href="" target="_blank")
							img(src="", alt="")

	.collections
		.case
			.collections__head
				.collections__title.h2 #[strong ]
				.collections__text
			.collections__body
				.collections__tags
					.collections__tag
					.collections__tag
				.collections__list
					.collections__item.collection
						.collection__left
							.collection__head
								.collection__icon
									img(src="", alt="")
								.collection__title
							.collection__body
								.collection__text
									p
							.collection__more
								.collection__more-text
								.collection__more-icon
									img(src="", alt="")
						.collection__right
							.collection__card
								.collection__label
								.collection__img
									img(src="", alt="")
							.collection__btns
								.collection__btn.btn.--secondary.--md #[span ] #[img(src="", alt="")]
								.collection__btn.btn.--primary.--md #[span ] #[img(src="", alt="")]

					.collections__item.collection
						.collection__left
							.collection__head
								.collection__icon
									img(src="", alt="")
								.collection__title
							.collection__body
								.collection__text
									p
							.collection__more
								.collection__more-text
								.collection__more-icon
									img(src="", alt="")
						.collection__right
							.collection__card
								.collection__label
								.collection__img
									img(src="", alt="")
							.collection__btns
								.collection__btn.btn.--secondary.--md #[span ] #[img(src="", alt="")]
								.collection__btn.btn.--primary.--md #[span ] #[img(src="", alt="")]

					.collections__item.collection
						.collection__left
							.collection__head
								.collection__icon
									img(src="", alt="")
								.collection__title
							.collection__body
								.collection__text
									p
							.collection__more
								.collection__more-text
								.collection__more-icon
									img(src="", alt="")
						.collection__right
							.collection__card
								.collection__label
								.collection__img
									img(src="", alt="")
							.collection__btns
								.collection__btn.btn.--secondary.--md #[span ] #[img(src="", alt="")]
								.collection__btn.btn.--primary.--md #[span ] #[img(src="", alt="")]

	.schedule
		.case
			.schedule__title.h2
			.schedule__list
				.schedule__item.--sand
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

				.schedule__item.--blue
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

				.schedule__item.--violet
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

				.schedule__item.--green
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

				.schedule__item.--yellow
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

				.schedule__item.--pink
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places
					
				.schedule__item.--sky
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

				.schedule__item.--sand
					.schedule__date #[img(src="", alt="")] #[span ]
					.schedule__groups
						.schedule__group.scgroup
							.scgroup__title
							.scgroup__list
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
								.scgroup__item
									.scgroup__key
									.scgroup__value
							.scgroup__places

			.schedule__alert
				h3
				ul
					li
					li
					li

			.schedule__btn-wrap
				.schedule__btn.btn.--primary.--md

	.mcs
		.case
			.mcs__title.h2 #[strong ]
			.mcs__list
				.mcs__item
					.mcs__left
						.mcs__img
							img(src="", alt="")
						.mcs__btn.btn.--primary.--md
					.mcs__right
						.mcs__date
						.mcs__title
						.mcs__desc
						.mcs__tags
							.mcs__tag
						.mcs__text
							h3
							ul
								li
						.mcs__price
							.mcs__price-title
							.mcs__price-list
								.mcs__price-item
									.mcs__price-key
									.mcs__price-value
								.mcs__price-item
									.mcs__price-key
									.mcs__price-value
				.mcs__item
					.mcs__left
						.mcs__img
							img(src="", alt="")
						.mcs__btn.btn.--primary.--md
					.mcs__right
						.mcs__date
						.mcs__title
						.mcs__desc
						.mcs__text
							h3
							ul
								li
						.mcs__price
							.mcs__price-title
							.mcs__price-list
								.mcs__price-item
									.mcs__price-key
									.mcs__price-value
								.mcs__price-item
									.mcs__price-key
									.mcs__price-value


		