@media screen and (max-width: 1280px)
	.h2
		font-size: 42px

	.h4
		font-size: 22px

	.t2
		font-size: 22px

	.directions
		&__item
			&-title
				font-size: 30px
				min-height: 72px
			&-label
				min-width: 170px

	.we
		margin-bottom: 150px
		&__wrap
			padding: 32px
			align-items: center
			flex-direction: column
			text-align: center
		&__title
			font-size: 36px
			max-width: 705px
		&__content
			max-width: 690px
		&__btn
			margin-left: auto

	.shares
		margin-top: 150px

	.pros
		&__list
			gap: 16px
			grid-template-columns: repeat(3, 1fr)

	.gallery
		margin-top: 150px
		margin-bottom: 150px
		&__head
			margin-bottom: 42px

	.shop
		&__head
			margin-bottom: 42px
		&__list
			gap: 24px
		&__item
			padding: 32px
		&__btn
			margin: 42px auto 0

	.hotel
		margin-top: 150px
		margin-bottom: 150px
		&__content
			max-width: 540px

	.economy
		margin-top: 150px
		margin-bottom: 150px
		&__head
			margin-bottom: 42px

	.disc-first
		&__title
			max-width: 380px
		&__desc
			max-width: 200px

	.faq
		margin-top: 150px
		margin-bottom: 150px
		--count-width: 115px

	.ca
		margin-top: 150px
		margin-bottom: 150px
		&__wrap
			gap: 42px
			flex-direction: column
		&__content
			--width: 100%
			gap: 20px
		&__inner
			max-width: 680px
			margin-left: auto
		&__img
			left: -250px
		&__form
			padding: 42px 30px
		&__field
			margin-bottom: 32px
		&__btn
			margin-bottom: 16px

	.reviews
		margin-top: 150px
		margin-bottom: 150px
		&__head
			margin-bottom: 42px

	.contacts
		&__title
			margin-bottom: 42px
		&__addresses
			&-list
				gap: 80px
		&__address
			&-value
				font-size: 24px

	.page404
		&__title
			font-size: 370px
			img
				width: 400px
				margin-left: -50px

	.groom
		gap: 24px
		grid-template-columns: repeat(2, 1fr)
		&__col
			gap: 16px
			&.--large
				grid-row: 1/2
				grid-column: 1/3
				min-height: 380px

	.gr-salon
		&__title
			font-size: 60px

	.gr-care
		&__title
			font-size: 42px

	.about
		padding-left: 25px
		padding-right: 25px
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__label
			margin-left: 0
			margin-bottom: 24px
		&__subtitle
			font-size: 40px
			margin-top: 16px

	.photos
		margin-bottom: 150px
		&__more
			&-wrap
				margin-top: 42px

	.ba
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__list
			gap: 24px
		&__more
			&-wrap
				margin-top: 42px

	.team
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__grid
			gap: 24px
			margin: auto
			display: grid
			grid-template-columns: repeat(2, 1fr)
		&__employee, &__join
			width: 100%
			margin: 0 auto
		&__text
			width: 100%
			h3
				font-size: 40px

	.services
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__list
			gap: 24px

	.certs
		margin-bottom: 150px
		&__title
			margin-bottom: 42px

	.ozone
		padding-left: 25px
		padding-right: 25px
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
			br
				display: none
			strong
				display: block
		&__text
			font-size: 22px

	.ambassador
		padding-left: 25px
		padding-right: 25px
		margin-bottom: 150px
		&__tag
			font-size: 14px
			padding: 12px 18px 9px
		&__text
			font-size: 26px

	.service
		margin-bottom: 150px
		&__desc
			margin-bottom: 42px
		&__list
			gap: 24px
		&__text
			font-size: 18px
			&.--lg
				font-size: 22px

	.academy
		gap: 24px
		grid-template-columns: repeat(2, 1fr)
		&__col
			&.--large
				grid-row: 1/2
				grid-column: 1/3
				min-height: 420px

	.ac-info
		&__title
			font-size: 52px
		&__desc
			font-size: 22px
			max-width: 780px

	.ac-courses
		&__title
			font-size: 30px
			margin-bottom: 12px
		&__desc
			font-size: 22px
		&__imgs
			bottom: -10px

	.ac-pay
		&__desc
			font-size: 16px
		&__title
			font-size: 44px
		&__partners
			z-index: 1
			font-size: 16px
			max-width: 240px
			padding: 8px 24px 8px 24px
			position: relative
		&__img
			width: 300px
			img
				width: 100%
				height: 100%

	.programs
		margin-bottom: 150px
		&__head
			margin-bottom: 42px
		&__list
			gap: 24px

	.courses-shares
		&__title
			margin-bottom: 42px
			text-align: center
			br
				display: none
		&__subtitle
			font-size: 28px
			margin-bottom: 42px
		&__slider
			&-item
				padding: 60px 80px 42px

	.co-share
		padding: 40px 30px
		&__title
			font-size: 14px
			line-height: 1.5
			br
				&:nth-of-type(2)
					display: none
		&__list
			gap: 16px
		&__item
			padding-left: 16px
			display: flex
			flex-direction: column
		&__desc
			font-size: 16px
		&__prices
			margin-top: auto

	.co-share-price
		&__new, &__old
			font-size: 38px

	.academy-info
		margin-top: 150px
		&__head
			margin-bottom: 42px
		&__controls
			margin-top: 16px
		&__texts
			margin-top: 42px
		&__text
			font-size: 20px

	.why-edu
		margin-top: 150px
		margin-bottom: 150px
		&__wrap
			gap: 42px
			flex-direction: column
		&__left
			--width: 630px
			margin-left: auto
			margin-right: auto
		&__title
			font-size: 52px
			br
				display: none
		&__name
			br
				display: none
		&__controls
			display: none
		&__pagination
			display: flex

	.teachers
		margin-bottom: 150px
		&__list
			gap: 32px

	.teacher
		&__name
			font-size: 30px
		&__text
			font-size: 20px

	.installment
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
			br
				display: none
		&__text
			font-size: 20px
			h3
				font-size: 30px
				padding-right: 20px
		&__banks
			padding: 24px
		&__logos
			gap: 24px

	.offers
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__item
			margin-bottom: 68px

	.offer
		&__name
			font-size: 24px
			line-height: 1.4
		&__price
			font-size: 42px
		&__btn
			margin: 42px auto 0

	.bp
		margin-bottom: 150px
		&__content
			padding: 32px 40px

	.apartaments
		margin-bottom: 150px
		&__head
			margin-bottom: 42px
		&__list
			gap: 24px

	.apartment
		&__title
			font-size: 24px
		&__toggle
			min-width: auto
			max-width: 20px
			svg
				width: 100%

	.docs
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__list
			gap: 55px
		&__item
			&.--lg
				min-height: 264px
		&__main-title
			font-size: 170px

	.booking
		margin-bottom: 150px
		&__title
			margin-bottom: 42px
		&__subtitle
			font-size: 28px
		&__btn
			margin-top: auto
		&__item
			padding: 24px
			&:first-child
				.booking
					&__name
						font-size: 50px
			&:last-child
				.booking
					&__name
						font-size: 50px
						padding-left: 32px

	.org
		&__title
			margin-bottom: 42px

	.rules
		&__title
			margin-bottom: 42px

	.r-actions
		margin-bottom: 42px
		&__list
			gap: 24px
		&__item
			padding: 24px
			&:first-child
				.r-actions
					&__card
						padding-left: 120px
						padding-top: 32px
					&__name
						font-size: 22px
			&:last-child
				.r-actions
					&__name
						font-size: 42px
						padding-left: 32px
		&__subtitle
			font-size: 28px
		&__socials
			margin-top: auto
		&__btn
			margin-top: auto

	.collections
		&__list
			gap: 32px
		&__tag
			font-size: 16px

	.collection
		padding: 32px
		&__wrap
			gap: 52px
		&__tag
			padding: 8px 18px
		&__label
			font-size: 14px
		&__text
			font-size: 20px

	.schedule
		--offset: 8px
		--offset-x2: calc(var(--offset) * 2)
		--offset-negative: calc(var(--offset) * -1)
		&__item
			&.--w1
				width: calc(50% - var(--offset-x2))
			&.--w3
				width: calc(100% - var(--offset-x2))
		&__alert
			margin-top: 42px
		&__btn-wrap
			margin-top: 42px

	.scgroup
		&__title
			font-size: 18px

	.mcs
		&__title
			margin-bottom: 42px
		&__item
			margin-bottom: 42px
			padding-bottom: 42px
			flex-direction: column

	.footer
		&__top-inner
			gap: 42px
		&__contact
			font-size: 24px

@media screen and (max-width: 1024px)
	.t1
		font-size: 18px

	.t2
		font-size: 20px

	.h2
		font-size: 38px

	.h3
		font-size: 28px

	.h4
		font-size: 20px

	.header
		&__logo
			max-width: 90px

	.breadcrumb
		&__sep
			margin-left: 12px
			margin-right: 12px

	.first-section
		padding-top: 140px

	.name
		&__wrap
			padding: 0 24px

	.desc
		margin-bottom: 32px
		&__text
			font-size: 18px
			padding: 24px 0
			line-height: 1.4
			max-width: 640px
			margin-left: auto
			margin-right: auto

	.directions
		margin-bottom: 16px
		&__list
			gap: 16px
		&__item
			&-name
				min-height: 76px
				align-items: flex-start
				justify-content: flex-end
				flex-direction: column-reverse
			&-title
				font-size: 26px
				min-height: auto
			&-label
				font-size: 10px
				margin-bottom: 10px
				min-width: auto
			&-img
				height: 220px

	.we
		margin-bottom: 100px
		&__title
			font-size: 30px
			line-height: 1.2

	.shares
		margin-top: 100px
		&__controls
			display: none

	.pros
		&__list
			grid-template-columns: repeat(2, 1fr)

	.gallery
		margin-top: 100px
		margin-bottom: 100px
		&__item
			width: 340px
		&__controls
			display: none

	.shop
		&__head
			gap: 24px
			grid-template-columns: auto
		&__list
			gap: 16px
			grid-template-columns: repeat(2, 1fr)
		&__item
			padding: 24px
			height: 240px

	.hotel
		margin-top: 100px
		margin-bottom: 100px
		&__inner
			flex-direction: column
			align-items: flex-start
		&__content
			padding: 24px 32px
			max-width: 100%
		&__imgs
			margin-right: auto
		&__img
			&-decoration
				width: 520px
				top: 0
				left: -70px

	.economy
		margin-top: 100px
		margin-bottom: 100px
		&__item
			height: 580px
			padding: 40px 16px 16px

	.disc-first
		&__desc
			max-width: 170px

	.disc-puppy
		&__dog
			width: 840px

	.faq
		--count-width: 85px
		margin-top: 100px
		margin-bottom: 100px
		&__title
			margin-bottom: 16px
		&__item
			padding-top: 38px
		&__count
			font-size: 40px
		&__name
			font-size: 24px
		&__body
			padding-top: 16px

	.ca
		margin-top: 100px
		margin-bottom: 100px
		&__inner
			max-width: 460px

	.reviews
		margin-top: 100px
		margin-bottom: 100px
		&__controls
			display: none
		&__pagination
			justify-content: center

	.contacts
		&__address
			&-value
				font-size: 20px

	.page404
		&__title
			font-size: 300px
			img
				width: 360px
		&__desc
			margin-top: 42px

	.groom
		gap: 16px
		&__col
			overflow: hidden
			&.--large
				min-height: 340px

	.gr-salon
		padding-top: 24px
		&__title
			font-size: 50px
		&__list
			gap: 40px
		&__item
			font-size: 18px

	.gr-care
		&__title
			font-size: 34px

	.gr-shop
		&__title
			font-size: 40px
		&__address
			max-width: 350px

	.gr-hotel
		height: 170px
		&__title
			font-size: 36px
		&__desc
			font-size: 14px
			max-width: 130px
		&__img
			width: 220px
			right: -30px

	.gr-logo
		height: 170px

	.gr-services
		&__title
			font-size: 26px
		&__img
			width: 320px

	.about
		margin-bottom: 100px
		&__label
			font-size: 14px
		&__subtitle
			font-size: 34px
		&__tag
			padding: 8px 16px

	.photos
		margin-bottom: 100px

	.ba
		margin-bottom: 100px
		&__list
			gap: 16px

	.team
		margin-bottom: 100px
		&__tag
			font-size: 14px
		&__text
			font-size: 18px
			margin: 0 auto
			h3
				font-size: 32px
		&__join
			&-title
				font-size: 38px

	.employee
		&__name
			font-size: 22px

	.services
		margin-bottom: 100px
		&__tag
			font-size: 14px
		&__list
			gap: 16px
		&__img
			transform: scale(.9)
			margin-bottom: -20px
			margin-right: -16px
		&__more
			top: 60px

	.certs
		margin-bottom: 100px
		&__list
			max-width: 600px
			align-items: center
			flex-direction: column
		&__item
			&:nth-of-type(5)
				.certs
					&__img
						img
							margin: auto

		&__img
			display: flex
			justify-content: center
		&__inner
			height: 185px
		&__tag
			margin-bottom: 16px

	.ozone
		margin-bottom: 100px
		&__wrap
			flex-direction: column
		&__img
			height: 450px
		&__content
			--size: 100%
			gap: 32px
		&__text
			font-size: 20px

	.ambassador
		margin-bottom: 100px
		grid-template-columns: 280px 1fr
		&__content
			padding: 32px 24px
		&__tag
			font-size: 13px
			padding: 12px
		&__text
			font-size: 22px

	.service
		margin-bottom: 100px
		&__desc
			font-size: 22px
		&__list
			gap: 16px
		&__content
			height: 255px
		&__text
			&.--lg
				font-size: 20px

	.academy
		gap: 16px
		margin-bottom: 100px

	.ac-info
		&__title
			font-size: 46px
		&__desc
			font-size: 20px
			max-width: 700px
		&__list
			gap: 40px
		&__item
			font-size: 20px
			var
				font-size: 56px

	.ac-book
		padding: 16px 16px 32px

	.ac-courses
		padding: 28px 16px 0
		&__title
			font-size: 28px
		&__desc
			font-size: 20px

	.ac-pay
		&__desc
			font-size: 14px
		&__title
			font-size: 36px
		&__partners
			font-size: 14px
			padding: 8px 12px
			max-width: 200px
			margin-top: 160px

	.ac-mc
		&__title
			font-size: 16px

	.programs
		margin-bottom: 100px
		&__head
			gap: 24px
			grid-template-columns: auto
		&__list
			gap: 16px
		&__item
			padding: 32px
		&__more
			top: 70px

	.courses-shares
		&__title
			margin-bottom: 24px
		&__subtitle
			font-size: 24px
			max-width: 600px
			margin-bottom: 16px
			margin-left: auto
			margin-right: auto
		&__slider
			&-item
				padding: 60px 0 42px
		&__controls
			display: none

	.co-share
		&__title
			width: 100px
			height: 100px
			font-size: 12px
			right: 90px
		&__label
			font-size: 22px
		&__text
			font-size: 16px
		&__list
			gap: 12px
		&__item
			padding-right: 12px
		&__desc
			margin-top: 40px

	.co-share-price
		&__new, &__old
			font-size: 32px

	.academy-info
		margin-top: 100px
		&__controls
			display: none
		&__slider
			&-list
				align-items: center
			&-item
				width: 340px
				height: 464px
		&__texts
			grid-template-columns: auto
		&__pagination
			margin-top: 48px

	.why-edu
		margin-top: 100px
		margin-bottom: 100px
		&__title
			font-size: 42px

	.teachers
		margin-bottom: 100px
		&__head
			gap: 24px
			grid-template-columns: auto

	.teacher
		flex-direction: column
		align-items: flex-start
		&__text
			font-size: 18px

	.installment
		margin-bottom: 100px
		&__wrap
			grid-template-columns: auto
		&__text
			font-size: 18px
			h3
				font-size: 28px

	.offers
		margin-bottom: 100px
		&__title
			br
				display: none

	.offer
		&__wrap
			gap: 16px
			grid-template-columns: auto
		&__card
			min-height: 300px
		&__name
			font-size: 24px
		&__price
			font-size: 38px

	.bp
		margin-bottom: 100px
		&__wrap
			flex-direction: column
		&__content
			padding: 32px
		&__imgs
			padding-top: 0
			margin-right: 0
		&__img
			margin-left: auto
			margin-right: auto
		&__decoration
			left: 0
			top: 10px
			width: 510px

	.apartaments
		margin-bottom: 100px
		&__head
			gap: 24px
			flex-direction: column
			align-items: flex-start
		&__text
			margin-left: 0
			max-width: 100%
		&__list
			gap: 16px

	.apartment
		&__title
			font-size: 22px
		&__text
			font-size: 16px
		&__data
			&-key
				font-size: 16px

	.docs
		margin-bottom: 100px
		&__list
			gap: 32px
		&__item
			&.--ml
				margin-left: 0
		&__text
			width: 100%
		&__main-title
			display: none

	.booking
		margin-bottom: 100px
		&__list
			gap: 16px
			grid-template-columns: auto
		&__item
			&:first-child
				.booking
					&__name
						font-size: 40px
						padding-left: 170px
			&:last-child
				.booking
					&__name
						font-size: 40px
						margin-left: 0
						padding-right: 72px
						margin-right: auto
		&__subtitle
			font-size: 26px

	.rules
		&__text
			h5
				font-size: 20px
		&__socials
			&-key
				font-size: 22px

	.r-actions
		&__list
			gap: 16px
			grid-template-columns: auto
		&__item
			&:first-child
				.r-actions
					&__name
						font-size: 28px
			&:last-child
				.r-actions
					&__name
						font-size: 40px
						margin-left: 0
						margin-right: auto
		&__subtitle
			font-size: 26px

	.collections
		&__head
			gap: 24px
			margin-bottom: 42px
			grid-template-columns: auto

	.collection
		padding: 24px
		&__wrap
			flex-direction: column
		&__right
			--width: 100%
		&__card
			height: 220px
		&__more
			&-content
				table
					td
						&:last-child
							width: 205px

	.schedule
		&__list
			gap: 16px
			margin: auto
		&__item
			width: 100% !important
			margin: auto !important
		&__date
			font-size: 14px
		&__groups
			gap: 16px
		&__alert
			margin-top: 32px

	.scgroup
		&__title
			font-size: 18px

	.mcs
		&__left
			--width: 100%
		&__img
			height: 440px
			margin-left: auto
			margin-right: auto
		&__text
			h3
				font-size: 22px
		&__price
			&-title
				margin-bottom: 16px
			&-list
				gap: 16px

	.footer
		&__top-inner
			gap: 24px
			padding-bottom: 42px
			flex-direction: column
			justify-content: flex-start
		&__contact
			font-size: 22px
		&__socials
			//.socials
			&__list
				justify-content: flex-start
		&__mid-inner
			gap: 24px
			padding-bottom: 42px
			flex-direction: column
			justify-content: flex-start
		&__info
			font-size: 14px
		&__col
			&.--center
				text-align: left
		&__bot
			//.footer
			&__col
				width: 100% !important
				min-width: 100% !important
				&:nth-of-type(1)
					order: 1
				&:nth-of-type(2)
					order: 3
				&:nth-of-type(3)
					order: 2
		&__bot-inner
			gap: 24px
			flex-direction: column
			justify-content: center
		&__logo
			display: flex
			justify-content: center

@media screen and (max-width: 767px)
	.btn
		&.--md
			min-height: 48px

	.h2
		font-size: 32px

	.h3
		font-size: 22px

	.t1
		font-size: 16px

	.t2
		font-size: 16px

	.header
		border-bottom: none
		&__wrap
			padding-bottom: 10px
			flex-wrap: nowrap
		&__logo
			max-width: 81px
		&__breadcrumb
			width: calc( 100% - 81px - 28px )
			display: none
		&__ham
			--size: 28px
			gap: 5px
			div
				width: 24px
				height: 2px

	.breadcrumb
		&__item
			font-size: 10px

	.name
		&__wrap
			padding: 0
			img
				&:nth-of-type(1)
					display: none
				&:nth-of-type(2)
					display: block

	.first-section
		padding-top: 116px

	.desc
		margin-bottom: 22px
		&__text
			font-size: 14px
			line-height: 1.2
			padding: 12px 0
			border-top: none
			border-bottom: none
			text-align: left

	.directions
		&__list
			grid-template-columns: auto
		&__item
			&-info
				gap: 12px
				padding: 20px 22px 28px
			&-name
				min-height: auto
			&-text
				font-size: 14px
			&-btn
				width: 100%
			&-img
				height: 168px
			&-label
				padding: 4px 10px
				margin-bottom: 5px
				margin-left: auto

	.we
		margin-bottom: 60px
		&__wrap
			padding: 22px
			text-align: left
		&__content
			gap: 16px
		&__title
			font-size: 28px
		&__btn
			width: 100%

	.shares
		margin-top: 60px
		&__slider
			&-item
				height: 120px
				img
					width: 100%
					height: 100%
					object-fit: cover
		&__pagination
			margin-top: 12px

	.pros
		&__list
			gap: 12px

	.gallery
		margin-top: 60px
		margin-bottom: 60px
		--wrap-height: 378px
		&__head
			margin-bottom: 32px
		&__item
			width: 300px
			height: 100%
		&__pagination
			margin-top: 26px

	.shop
		&__head
			gap: 12px
			margin-bottom: 32px
		&__desc
			strong
				display: block
		&__list
			gap: 12px
			grid-template-columns: auto
		&__item
			height: 216px
		&__btn
			width: 100%
			margin: 32px auto 0

	.hotel
		margin-top: 60px
		margin-bottom: 60px
		&__content
			padding: 16px 12px 26px
		&__text
			font-size: 16px
		&__prop
			gap: 4px
			padding: 4px
			&-icon
				--size: 20px
			&-title
				font-size: 10px
		&__btn
			width: 100%
		&__img
			&-decoration
				top: 20px
				width: 310px
			&-pets
				width: 200px
				margin-left: -16px

	.economy
		margin-top: 60px
		margin-bottom: 60px
		&__head
			margin-bottom: 32px
		&__list
			gap: 12px
			grid-template-columns: auto
		&__item
			height: 330px
			padding: 20px 16px 16px
			border-radius: var(--round-primary) !important

	.disc-first
		&__title
			font-size: 20px
			margin-bottom: 42px
			max-width: 290px
		&__title-outline
			top: -15px
			left: 100px
			width: 65px
		&__img
			width: 270px
		&__desc
			font-size: 10px

	.disc-puppy
		&__title
			font-size: 20px
			max-width: 290px
		&__dog
			width: 520px
			margin-right: 0

	.faq
		--count-width: 45px
		margin-top: 60px
		margin-bottom: 60px
		&__item
			padding-top: 26px
		&__count
			font-size: 20px
		&__name
			font-size: 18px
		&__body
			padding-top: 10px
		&__text
			font-size: 16px

	.ca
		margin-top: 60px
		margin-bottom: 60px
		&__wrap
			gap: 32px
		&__inner
			max-width: 100%
		&__form
			padding: 24px 12px
		&__field
			margin-bottom: 20px
		&__img
			display: none

	.label
		font-size: 16px

	.field
		&__area
			height: 48px
			font-size: 16px
			border-radius: 12px

	.check
		align-items: flex-start

		&__box
			--size: 20px
		&__text
			font-size: 14px

	.reviews
		margin-top: 60px
		margin-bottom: 60px
		&__head
			margin-bottom: 32px
		&__item
			flex-direction: column
		&__img
			--width: 100%
			height: 300px
			img
				object-position: top
		&__content
			padding: 24px
			text-align: center

	.contacts
		&__title
			margin-bottom: 32px
		&__addresses
			padding: 32px 0
			&-list
				gap: 32px
				flex-direction: column
		&__address-title
			margin-bottom: 16px
		&__map
			height: 568px

	.page404
		&__title
			font-size: 165px
			img
				width: 160px
				margin-left: -30px
				margin-right: -30px
			p
				top: 20px
		&__desc
			margin-bottom: 28px
		&__btn
			width: 100%

	.groom
		gap: 12px
		padding-left: 15px
		padding-right: 15px
		grid-template-columns: auto
		&__col
			gap: 12px
			&.--large
				grid-column: auto
				grid-row: auto

	.gr-care
		padding: 52px 12px 40px
		&__title
			font-size: 38px
			img
				&:nth-of-type(1)
					margin-left: 50px
				&:nth-of-type(2)
					width: 80px
				&:nth-of-type(3)
					width: 24px
					height: 24px
		&__btn
			&.--md
				padding: 2px 12px 0 12px

	.gr-salon
		&__list
			gap: 0
			bottom: -10px
		&__item
			width: 116px
			height: 160px
			font-size: 14px
			var
				font-size: 40px

	.gr-logo
		height: 150px
		&__img
			padding: 0 10px

	.gr-hotel
		padding: 10px 16px 16px
		&__title
			font-size: 32px
		&__img
			width: 200px
			bottom: -10px

	.gr-services
		height: 416px
		&__img
			width: 350px

	.about
		margin-top: 60px
		margin-bottom: 60px
		padding-left: 15px
		padding-right: 15px
		&__title
			margin-bottom: 32px
		&__wrap
			grid-template-columns: auto
		&__subtitle
			font-size: 24px
			margin-top: 0
		&__content
			padding: 24px 12px
			border: 1px solid var(--color-primary-40)
			border-top-right-radius: 0
			border-bottom-left-radius: var(--round-primary)
		&__img
			width: 100%
			height: 300px
			border-radius: var(--round-primary) var(--round-primary) 0 0
		&__label
			padding: 6px 24px
			margin-bottom: 60px
			margin-left: auto
		&__tags
			margin-bottom: 4px
		&__tag
			font-size: 10px
			padding: 4px 8px

	.photos
		margin-bottom: 60px
		&__more-wrap
			margin-top: 32px
		&__more
			width: 100%

	.ba
		margin-bottom: 60px
		&__title
			margin-bottom: 32px
			strong
				display: block
		&__list
			gap: 12px
			grid-template-columns: repeat(2, 1fr)
		&__more-wrap
			margin-top: 32px
		&__more
			width: 100%

	.team
		--team-card-height: 330px
		margin-bottom: 60px
		&__tag
			font-size: 12px
			padding: 6px 14px
		&__title
			margin-bottom: 32px
		&__grid
			gap: 12px
		&__text
			grid-column: 1/3
			font-size: 16px
			padding: 24px
			&.--pink
				order: 8
		&__join
			border-radius: var(--round-primary)
			overflow: hidden
			&-wrap
				padding: 12px
			&-title
				font-size: 24px
			&-img
				width: 175px
			&-btn
				&.--md
					padding: 2px 10px 10px

	.employee
		&__head
			height: 260px
		&__desc
			top: 16px
			font-size: 12px
		&__img
			height: 180px
			display: flex
		&__body
			gap: 8px
		&__name
			font-size: 18px
		&__text
			font-size: 14px
		&__tag
			font-size: 12px
			padding: 4px 8px
		&__pet
			p
				font-size: 12px

	.services
		margin-bottom: 60px
		&__title
			max-width: 290px
			margin-bottom: 32px
			br
				display: none
		&__list
			gap: 12px
			grid-template-columns: auto
		&__item
			&.--large
				height: 432px
				grid-column: auto
			&.--right
				&.--large
					.services
						&__more
							top: 90px
							right: 28px
		&__name
			font-size: 26px
		&__more
			top: 90px
		&__img
			transform: none
			margin-bottom: 0
			margin-right: 0

	.certs
		&__title
			margin-bottom: 32px
		&__item
			padding-top: 16px
		&__icon
			width: 48px
			height: 48px
			padding: 5px
		&__img
			height: 225px
			margin-top: 5px
		&__symbol
			font-size: 38px
