include ../../pug/vars

header.header
	.case
		.header__wrap.row
			a.header__logo
				img(src="" alt="")
		.header__breadcrumb.breadcrumb
			.breadcrumb__list
				.breadcrumb__item
					a.breadcrumb__link.breadcrumb__name(href="")
					.breadcrumb__sep
						img(src="", alt="")
				.breadcrumb__item
					a.breadcrumb__link.breadcrumb__name(href="")
					.breadcrumb__sep
						img(src="", alt="")
				.breadcrumb__item
					.breadcrumb__name
					.breadcrumb__sep
						img(src="", alt="")
		.header__ham
			div
			div
			div
	.header__nav.nav
		.nav__inner
			.case
				.nav__wrap
					.nav__links
						ul
							li
								a(href="")
							li
								a(href="")
							li
								a(href="")
							li
								a(href="")
							li
								a(href="")
					.nav__btn-callback.btn.--primary.--md
				.nav__footer
					.nav__address
						h3
						p #[i 2]
						p #[i 2]
					.nav__socials.socials
						.socials__list
							a.socials__item
								img(src="" alt="")
							a.socials__item
								img(src="" alt="")
							a.socials__item
								img(src="" alt="")
							a.socials__item
								img(src="" alt="")

					.nav__phones
						.nav__phone #[a(href="tel:") ]
						.nav__phone #[a(href="tel:") ]
		.nav__overlay