include ../../pug/vars

header.header
	.case
		.header__wrap.row
			a.header__logo
				img(src="" alt="")
		.header__breadcrumb.breadcrumb
			.breadcrumb__list
				.breadcrumb__item
					a.breadcrumb__link.breadcrumb__name(href="")
					.breadcrumb__sep
						img(src="", alt="")
				.breadcrumb__item
					a.breadcrumb__link.breadcrumb__name(href="")
					.breadcrumb__sep
						img(src="", alt="")
				.breadcrumb__item
					.breadcrumb__name(href="")
					.breadcrumb__sep
						img(src="", alt="")
		.header__ham
			div
			div
			div
	.header__nav.nav
		.nav__inner
			.case
				.nav__wrap
					.nav__links
						ul
							li
								a(href="") Главная
							li
								a(href="") Салон
							li
								a(href="") Академия
							li
								a(href="") Цены
							li
								a(href="") Контакты
					.nav__btn-callback.btn.--primary.--md Обратный звонок
				.nav__footer
					.nav__address
						h5 Адрес:
						p CПБ,м.Чкаловская, ул Глухая Зеленина 6
						p #[i Вход с улицы: Груминг салон #[br]Вход со двора: Академия груминга, зоогостиница]
					.nav__socials.socials
						.socials__list
							a.socials__item
								img(src="" alt="")
							a.socials__item
								img(src="" alt="")
							a.socials__item
								img(src="" alt="")
							a.socials__item
								img(src="" alt="")

					.nav__phones
						.nav__phone #[a(href="tel:+7 812 983-43-33") +7 812 983-43-33 ]
						.nav__phone #[a(href="tel:+7 812 667-83-33")  +7 812 667-83-33]
		.nav__overlay